@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .nav-link {
    @apply transition-colors duration-300 text-gray-600 hover:text-white;
  }

  .nav-link-active {
    @apply border-b-2 border-solid;
  }

  .progress-container {
    @apply flex flex-col  md:flex-row w-full;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }

  .progress-title {
    @apply bg-secondary text-white px-2 flex justify-between items-center;
    width: 120px;
    max-width: 120px;
  }

  .progress-logo {
    @apply h-4 transition-all duration-500;
    opacity: 0;
  }

  .progress-bg {
    @apply relative h-6 flex-1 flex bg-gray-400;
  }

  .progress {
    @apply h-full transition-all duration-1000 bg-black;
    transition-delay: var(--progress-delay);
    width: 0%;
  }

  .progress-percent {
    @apply absolute transition-all duration-1000 text-center text-white font-bold;
    transition-delay: var(--progress-percent-delay);
    left: 50%;
    opacity: 0;
  }

  .title-line {
    @apply flex items-center;
  }

  .title-line::before {
    content: "";
    flex: 1;
    margin-right: 1rem;
    height: 2px;
    background-color: #000;
  }

  .title-line::after {
    content: "";
    flex: 1;
    margin-left: 1rem;
    height: 2px;
    background-color: #000;
  }

  .aos-animate .progress {
    width: var(--progress);
  }

  .aos-animate .progress-percent {
    opacity: 1;
  }
}

section {
  @apply overflow-hidden;
}

:root {
  --navbar-height: 52px;
}

*:focus {
  outline: 0 !important;
}

body,
html {
  @apply bg-background;
  height: 100%;
}

.container {
  @apply mx-auto;
}

#app {
  padding-top: var(--navbar-height);
  height: 100%;
}
